body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  background-color: #00757ff4; /* Background color */
  padding: 40px 20px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Form container */
.login-form-container {
  background-color: #00757ff4; /* Background color for form */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(2, 179, 70, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* Button Styles */
button {
  background-color: #003366; /* Button color */
  color: #fff;
  border: none;
  padding: 10px 16px; /* Adjusted size (smaller than before) */
  font-size: 14px; /* Slightly reduced font size */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Remove hover color change */
button:hover {
  background-color: #003366; /* Keep the same color on hover */
}

